<section class="briefly">
	<div class="container">
		<h2>Коротко о Prana</h2>
		<div class="briefly-list">
			<div class="briefly-list__item">
				<h3>Продукция</h3>
				<p>В продуктовую линейку компании «Prana» входят 5 видов баллончиков для дыхания KISLOROD Prana, а так же устройство по приготовления кислородного коктейля. Именно такие виды продуктов по праву можно отнести к товарам ХХI века, так как до выхода на рынок продукции компании «Prana» среди товаров народного потребления не существовало продуктов для дыхания.</p>
			</div>
			<div class="briefly-list__item">
				<h3>Инновации</h3>
				<p>Компания «Prana» активно занимается разработкой новых видов инновационных товаров связанных с дыханием или основанных на кислороде.
					Компания имеет собственное производство, расположенное в городе Ногинске, Московской области, а так же разветвленную сбытовую сеть на территории России, СНГ и Восточной Европы.
					</p>
			</div>
			<div class="briefly-list__item">
				<h3>2005г</h3>
				<p>Основанная в 2005 году компания «Prana» является ведущим производителем продукции связанной с кислородом и дыханием.Мы постоянно совершенствуем наше производство кислородных баллончиков и идем в ногу со временем, предлагая потребителю наилучшие продукты на основе кислорода.</p>
			</div>
			<div class="briefly-list__item">
				<h3>Производство</h3>
				<p>Производственные мощности расположены в городе Ногинске (Московская область). Компания Prana одной из первых занялась производством кислородных баллонов в России. К настоящему времени у нас есть собственные уникальные методики и технологии, позволяющие предлагать продукт высокого качества в соответствии с ГОСТами. </p>
			</div>
		</div>
	</div>
</section>