<section class="comfort">
	<div class="container">
		<h2>Почему с нами удобно</h2>
		<div class="comfort__holder">
			<div class="comfort-item comfort-item_1">
				<div class="comfort-item__wrap">
					<div class="comfort-item__main">
						<p class="comfort-item__text">В наших баллонах оптимальное соотношение газов: 80 % кислорода и 20 % азота. Благодаря этому смесь обогащает кровь кислородом, но при этом не сушит слизистую оболочку дыхательных путей.</p>
						<div class="comfort-item__title">Качество</div>
					</div>
				</div>
			</div>
			<div class="comfort-item  comfort-item_2">
				<div class="comfort-item__wrap">
					<div class="comfort-item__main">
						<p class="comfort-item__text">Мы сотрудничаем с магазинами медицинского оборудования, аптечными сетями, медицинскими центрами, поставляя партии продукции любого объема.</p>
						<div class="comfort-item__title">Выгодные условия</div>
					</div>
				</div>
			</div>
			<div class="comfort-item  comfort-item_3">
				<div class="comfort-item__wrap">
					<div class="comfort-item__main">
						<p class="comfort-item__text">Ирзготовление кислородных баллонов под собственным торговым брендом вашей компании.</p>
						<div class="comfort-item__title">Брендирование</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>