<section class="intro">
	<div class="intro__holder">
		<div class="container">
			<div class="intro__content">
				<h1>PRANA</h1>
				<p class="intro__description">Название компании «Prana», на санскрите означает жизненную энергию и дыхание, таким образом, прана есть дыхание жизни. Предполагается, что именно кислород служит носителем праны, и в организм он попадает вместе со вдохом. Поэтому дыхание чистым воздухом, с богатым содержанием кислорода, наполняет человека жизненной энергией – праной.</p>
			</div>
		</div>
	</div>
</section>
<div class="container">
	<div class="features">
		<div class="features__holder">
			<div class="features__item">
				<span>17</span>
				<p>Лет успешной <br>работы</p>
			</div>
			<div class="features__item">
				<span>5</span>
				<p>Линий <br>продукции</p>
			</div>
			<div class="features__item">
				<span>15</span>
				<p>Регионов <br>реализации</p>
			</div>
		</div>
	</div>
</div>