<section class="terms">
	<div class="container">
		<div class="terms__holder">
			<div class="terms__content">
				<h2 class="terms__title">Условия поставок</h2>
				<p class="terms__description">Компания сотрудничает с большим количеством курьерских служб. Купить кислород в баллонах KISLOROD Prana можно с доставкой в любую точку России. Все товары есть в наличии на складе, поэтому мы обеспечим быструю отгрузку партии любого объема. Для покупателей из Москвы действует курьерская доставка в течение нескольких дней</p>
			</div>
		</div>
	</div>
</section>