<section class="brands">
	<div class="container">
		<h2>С нами уже сотрудничают</h2>
		<div class="brands-slider">
			<div class="brands-slider__holder">
				<div class="brands-slider__item"><img src="assets/images/uploads/brands/1.jpg" alt=""></div>
				<div class="brands-slider__item"><img src="assets/images/uploads/brands/2.jpg" alt=""></div>
				<div class="brands-slider__item"><img src="assets/images/uploads/brands/3.jpg" alt=""></div>
				<div class="brands-slider__item"><img src="assets/images/uploads/brands/4.jpg" alt=""></div>
				<div class="brands-slider__item"><img src="assets/images/uploads/brands/1.jpg" alt=""></div>
				<div class="brands-slider__item"><img src="assets/images/uploads/brands/2.jpg" alt=""></div>
				<div class="brands-slider__item"><img src="assets/images/uploads/brands/3.jpg" alt=""></div>
			</div>
			<div class="brands-slider__nav"></div>
		</div>
		<div class="brands__btn">
			<a href="#" class="btn">начать сотрудничать</a>
		</div>
	</div>
</section>


