<section class="cooperation">
	<div class="container">
		<form class="cooperation__holder">
			<div class="cooperation__description">
				<h2 class="cooperation__title">Начните сотрудничество уже сейчас</h2>
				<p>Выгоные условия для каждого партнера</p>
			</div>
			<div class="cooperation__inputs">
				<div class="input-text">
					<input type="email" placeholder="Почта">
				</div>
				<div class="input-text">
					<input type="text" placeholder="Ваше имя">
				</div>
				<div class="input-text">
					<input type="tel" placeholder="Телефон">
				</div>
			</div>
			<div class="cooperation__submit">
				<button class="btn btn_white">Отправить запрос</button>
				<p>*Нажимая эту кнопку Вы даете согласие 
					на обработку персональных данных</p>
			</div>
		</form>
	</div>
</section>